<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>controller.indexServlet</servlet-class>
        <init-param>
            <param-name>development</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>detailServlet</servlet-name>
        <servlet-class>controller.detailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productServlet</servlet-name>
        <servlet-class>controller.productServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>controller.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>controller.cartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutServlet</servlet-name>
        <servlet-class>controller.checkoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeServlet</servlet-name>
        <servlet-class>controller.removeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reduceServlet</servlet-name>
        <servlet-class>controller.reduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>increaseServlet</servlet-name>
        <servlet-class>controller.increaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payServlet</servlet-name>
        <servlet-class>controller.payServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infoServlet</servlet-name>
        <servlet-class>controller.infoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOrderServlet</servlet-name>
        <servlet-class>controller.manageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oDetailServlet</servlet-name>
        <servlet-class>controller.oDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmServlet</servlet-name>
        <servlet-class>controller.confirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelServlet</servlet-name>
        <servlet-class>controller.cancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editServlet</servlet-name>
        <servlet-class>controller.editServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>controller.addProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageServlet</servlet-name>
        <servlet-class>controller.manageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stopServlet</servlet-name>
        <servlet-class>controller.stopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeServlet</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reduceServlet</servlet-name>
        <url-pattern>/reduce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>increaseServlet</servlet-name>
        <url-pattern>/increase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infoServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOrderServlet</servlet-name>
        <url-pattern>/manageOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oDetailServlet</servlet-name>
        <url-pattern>/oDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmServlet</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelServlet</servlet-name>
        <url-pattern>/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageServlet</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stopServlet</servlet-name>
        <url-pattern>/stop</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
